body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #663300;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #996633;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.beverages {
    margin-bottom: 20px;
}

.beverage {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.beverage img {
    max-width: 100%;
}

footer {
    background-color: #996633;
    color: #fff;
    text-align: center;
    padding: 10px;
}
